@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
#header {
  background-image: url("asset 2.svg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #6d72f6;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #6d72f6;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}

/* Section 1 */

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 125px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 30px;
  margin-bottom: 200px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin-left: 60px;
}
.header2 img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  margin-left: -70px;
  margin: 30px 0;
}
.right img {
  width: 535px;
  height: 535px;
  border-radius: 50%;
}
.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.left h1 {
  font-size: 40px;
  line-height: 56px;
  color: #1c1c57;
}
.left h1:hover {
  color: #08ce8a;
}
.left p {
  font-size: 18px;
  line-height: 32px;
  color: #73739a;
  margin-left: 10px;
}
.right {
  margin: 20px 40px;
}
.center .left .link {
  font-size: 18px;
  margin-left: -450px;
  margin-top: 30px;
  color: #08ce8a;
  font-weight: 700;
}
.header1 {
  padding: 100px 140px;
}
.header1 .p1 {
  font-size: 16px;
  color: #08ce8a;
  line-height: 15px;
  font-weight: 900;
}
.header1 .h1 {
  font-size: 56px;
  font-weight: 900;
  color: #1c1c57;
  line-height: 72px;
}
.header2 img {
  margin-left: -100px;
}
.header2 h3 {
  margin-top: 45px;
  margin-left: 10px;
}
.header2 h4 {
  margin-left: 100px;
  margin-top: 45px;
  color: #73739a;
  font-size: 18px;
  line-height: 20px;
}
.center:hover {
  transform: scale(1.009);
  color: #08ce8a;
  text-decoration: #08ce8a;
}
.header2 img:hover {
  transform: scale(1.009);
}
.header2 .h1:hover {
  color: #08ce8a;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
nav h1 {
  font-size: 40px;
  line-height: 40px;
  color: #1c1c57;
}
nav .btn {
  padding: 20px 30px;
  color: white;
  background-color: #6d72f6;
  font-size: 16px;
  line-height: 12px;
}
nav button {
  padding: 20px 35px;
  color: #73739a;
  background-color: #f0eded;
  font-size: 16px;
  line-height: 12px;
  border-radius: 10px;
  border: none;
  gap: 10px;
}
.button {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav button:hover {
  background-color: #6d72f6;
  color: white;
  transition-delay: 0.1s;
}

/* section2 */
.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin: 0 60px;
  gap: 40px;
  text-align: start;
  margin-bottom: 100px;
}
.section2 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
}
.section2 div img {
  width: 600px;
  height: 600px;
  border-radius: 50%;
}
.section2 div h2 {
  font-size: 24px;
  line-height: 30px;
  color: #1c1c57;
  font-weight: 700;
  padding: 20px 0;
  margin-left: -15px;
}
.section2 div p {
  font-size: 18px;
  line-height: 24px;
  color: #73739a;
  font-weight: 500;
  padding: 10px 0;
  margin-left: 15px;
  margin-bottom: 30px;
}
.section2 div a {
  align-self: flex-start;
  color: #08ce8a;
  font-size: 18px;
  line-height: 24px;
  margin-left: 45px;
  padding-left: 20px;
}
.section2 div h4 {
  font-size: 18px;
  line-height: 24px;
  text-align: end;
  color: #1c1c57;
  align-self: flex-end;
  margin-top: -20px;
  margin-right: 20px;
}
.section2 div:hover {
  transform: scale(1.01);
  transition-delay: 0.001s;
}
.section2 div h2:hover {
  color: #08ce8a;
  transform: scale(1.05);
  transition-delay: 0.1s;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*  Section 6------------- */
.left6 h5 {
  color: white;
}
#hero6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  background: #696fe1;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  position: relative;
  z-index: -1;
  padding-bottom: 50px;
}
.right6 .img6 {
  width: 600px;
  height: 600px;
  animation: updown 3s ease-in-out alternate infinite;
}
.right6 .img6 img {
  height: 100%;
  width: 100%;
}
.left6 {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 50%;
}
.left6 h3 {
  font-size: 16px;
  color: #08ce8a;
}
.left6 h1 {
  font-size: 62px;
  line-height: 70px;
  margin: 24px 0;
  color: #fff;
}
.left6 h5 {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  padding: 16px 0;
}
.download,
.learn {
  color: white;
  background-color: #6d72f6;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
  gap: 30px;
  padding: 25px 50px;
  border-radius: 15px;
  cursor: pointer;
}
.learn {
  color: #6d72f6;
  background-color: #fff;
  margin-left: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.learn:hover {
  color: #08ce8a;
  transform: translateY(-5px);
}
.download:hover {
  transform: translateY(-5px);
  background-color: #5a5fcc;
}
.circle {
  margin-top: 150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #898df5;
  z-index: -1;
  position: absolute;
  animation: updown 2s ease-in-out alternate infinite;
}
/* hero section animation */
@keyframes updown {
  from {
    top: -35px;
  }

  to {
    top: -70px;
  }
}
.right6 {
  margin-left: 40px;

  width: 50%;
  margin-right: 50px;
}
.apple img,
.google img {
  background-color: white;
  width: 140px;
  height: 32px;
}
.apple {
  background-color: #fff;
  cursor: pointer;
}
.circless {
  height: 100px;
  width: 100px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px;
  font-size: 24px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: #1c1c57;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

footer p {
  font-size: 18px;
  margin: 0 0 8px 0;
  font-weight: 500;
}

footer a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
  line-height: 32px;
}
footer .follow {
  margin-top: 20px;
}

footer .follow i {
  margin: 20px 0;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
  align-self: center;
}
.line p {
  color: #73739a;
  margin: 50px 70px;
}
